<% provide(:title, '連絡先？？') %>

<form class="new_tuser" id="new_tuser" action="/tusers/sign_in" accept-charset="UTF-8" method="post”">
<input name="utf8" type="hidden" value="✓”>
<input type="hidden" name="authenticity_token" value="aZXagZkFLfPrDnFzlRzxpZUPrHhl2PSvlhjomQS40nTajTC1UZPeH1LHsCzPHAYT8EmfsAi9W8I/7tNNZrBlEg==“">

  <div class="">
  </div>
  <div class="field">
    <label for="tuser_email">Email</label><br>
    <input autofocus="autofocus" autocomplete="email" type="email" value="aaa@mail.com" name="tuser[email]" id="tuser_email">
  </div>

  <div class="field">
    <label for="tuser_password">Password</label><br>
    <input autocomplete="current-password" type="password" name="tuser[password]" id="tuser_password">
  </div>

    <div class="field">
      <input name="tuser[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="tuser[remember_me]" id="tuser_remember_me">
      <label for="tuser_remember_me">Remember me</label>
    </div>

  <div class="actions">
    <input type="submit" name="commit" value="Log in" data-disable-with="Log in">
  </div>
</form>
