<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>


  <li><%= link_to "Home",    home_path %></li>
  <li><%= link_to "About",    about_path %></li>
  <li><%= link_to "Contact",    contact_path %></li>
