<div class="comments">
  <% if user_signed_in? %>
    <div id="comment-form">
      <%= form_for [article, Comment.new], id: 'comment-poster', remote: true do |f| %>
        <div class= "input-group">
          <span :content, class="input-group-text">コメントを書く</span>
          <%= f.text_area :content, class: 'form-control', placeholder: "コメントを書く" %>
          <%= f.submit 'コメントする', class: 'btn btn-secondary btn btn-block' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
