<div class="modal fade user-modal" id="user-modal-<%= user_type %>-<%= article.user.id %>" tabindex="-1" role="dialog" aria-labelledby="記事プレビュー" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" id="user-modal-dialog">
    <div class="modal-content">
      <%= render 'users/user_card', user: user %>
    </div>
  </div>
</div>
