<% provide(:title, "記事詳細") %>

<div class="col-11 mx-auto">
  <%= render 'articles/article_card', article: @article, like: @like %>
  <div class="comments-list p-2" id="comments-list-<%= @article.id %>" >
    <%= render 'comments/comments_list', comments: @article.comments %>
  </div>
  <div id="comment-poster">
    <%= render 'comments/comment_form_post', article: @article %>
  </div>
</div>
