<% provide(:title, "アカウント一覧") %>

<div class="card-deck mx-auto" id="user-card">
  <% @users.each do |user| %>
  <div class="col-3 justify-content-center">
    <div class="card">
      <div class="card-header d-flex">
        <div class="align-self-center mr-2">
          <% if user.image.url.present? %>
            <%= image_tag 'default.jpg', class: 'plofile_img', :size => '30x30' %>
          <% else %>
            <%= image_tag 'default.jpg', class: 'plofile_img', :size => '30x30' %>
          <% end %>
        </div>
        <div class="align-self-center font-weight-bold" id="name">
          <%= link_to user.username, user, id: "user-more" %>
        </div>
      </div>
      <div class="card-body">

        <% if user.profile.present? %>
          <div><%= simple_format(user.profile) %></div>
        <% end %>
      </div>
    </div>
    </div>
  <% end %>
</div>
