<% provide(:title, "アカウント一覧") %>
<%= render 'users/users_cards', users: @users, user_type: 'index' %>


<! 試し >
<div class="container mx-auto" id="js-users">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-6">
        <div class="card" id="js-user-card">
          <div v-on:click="setUserInfo(<%= user.id %>)">
            <div class="card-header" >
              <%= user.username %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div v-show="userInfoBool">
    <div class="col-12">
      <div class="card white-text">
        <div class="card-header">
          {{ userInfo.username }}
        </div>
        <div class="card-body pl-2">
          {{ userInfo.profile }}
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'users/index' %>
