<% provide(:title, "#{current_user.username}") %>

<div class="card">
  <div class="card-header">
    <div>アカウント名：<%= @user.username %></div>
  </div>

  <div>
    <span, class="card-body input-group-text">プロフィール</span>
    <div><%= simple_format(@user.profile) %></div>
  </div>
</div>

<%= link_to "ユーザー情報の編集", edit_user_registration_path, class: 'btn btn-secondary btn-lg btn-block' ,id: 'edit-btn' %>
