<% provide(:title, "#{@user.username}") %>
<div class="user_show_card col-6 mx-auto mb-4" id="user-show">
  <%= render 'users/user_card', user: @user, user_card_type: 'user_show' %>
</div>
<div class="user-tablist">
  <%= render 'users/show_tablist_for_the_user', user: @user %>
</div>
