<% provide(:title, "#{@user.username}") %>
<div class="col-6 mx-auto mb-4" id="user-show">
  <%= render 'users/user_card', user: @user %>
</div>
<%= render 'users/show_tablist_for_the_user', user: @user %>
