@import "bootstrap";
@import 'font-awesome-sprockets';
@import "font-awesome";

/* 全体レイアウト */
.title-sentence {
  padding: 10px;
  color: yellow;
}

.main-back-color {
  z-index: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-back-img {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url(Back-main.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.3;
}

#main-layout {
  width: 100%;
  height: 100%;
  margin: 0px;
  position: relative;

  #login-alert {
    z-index: 4;
    width: 100%;
  }
  #cards-space {
    padding: 0px;
  }
}
.users {
  color: white;
}

/* ヘッダー */
#header-content {
  z-index: 5;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;

  .header-menu {
    background-color: #4C0065;
    padding: 0 10px 0 10px;
  }
}

/* ユーザー関連のフォーム */
#user-forms {
  #guest-btn {
    margin: 3em 0 3em 0;
  }
  .text-bold {
    color: yellow;
  }
  .btn {
    margin: 10px 0 10px 0;
  }
  .font-weight-bold {
    color: yellow;
  }
  .form-check {
    color: yellow;
  }
  .field {
    margin-top: 10px;
  }
  .form-check {
    margin: 0;
    #check_box {
      padding: 0;
      margin: 0;
    }
    #check-label {
      padding: 0;
      margin: 0;
    }
  }
}

/* 記事一覧ページ(index) */
#columns {
  .card {
    margin: 0 5% 20% 5%;
  }
  .card-header {
    padding: 6px 10px 6px 10px;
    font-size: 12px;
    color: white;
    background-color: #336666;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-title {
    font-size: 18px;
  }
  .card-body {
    padding: 10px 14px 10px 14px;
    height: 180px;
    background-color: #DDDDDD;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #article-more {
    background-color: #DDDDDD;
    padding: 3% 3% 3% 0%;
    text-align: right;
    font-size: 12px;
    text-decoration-line: underline;
    color: #0000FF;
  }
  .card-footer {
    padding: 6px 10px 6px 10px;
    font-size: 0.4em;
    text-align: center;
    background-color: #808000;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;

    .tag {
      margin-right: 1%;
      margin-bottom: 1%;
      font-size: 8px;
    }
  }
}

/* アカウント一覧ページ(index) */
#user-card {
  .card {
    margin: 0 5% 20% 5%;
  }
  .card-header {
    font-size: 16px;
    color: white;
    background-color: #CB9800;
    padding: 6px 10px 6px 10px;
  }
  .card-body {
    padding: 6px 10px 6px 10px;
    height: 120px;
    background-color: #DDDDDD;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-footer {
    padding: 6px 10px 6px 10px;
    height: 70px;
    font-size: 0.4em;
    text-align: center;
    background-color: #CB9800;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    .tag {
      margin-right: 1%;
      margin-bottom: 1%;
      font-size: 9px;
    }
  }
}

/* サイドバー */
.sidebar {
  z-index: 4;
  float: right;
  position: fixed;
  margin-top: 60px;
  height: 80vh;
  width: 15%;
}

#sidebar-card {
  margin: 0 5% 10% 0px;

  .card-header {
    padding: 6px 10px 6px 10px;
    font-size: 14px;
    background-color: #BBBBBB;
  }
  .card-body {
    padding: 6px 10px 6px 10px;
    height: 150px;
    background-color: #DDDDDD;
    font-size: 12px
  }
}

#owners-introduction {
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}

/* 新規記事作成ページ(articles/new) */
#article-form {
  width: 80%;
  margin-left: 5vh;

  .input-group {
    margin-bottom: 10px;
  }
  #article-body {
    height: 60vh;
  }
}

/* 記事詳細ページ(articles/show) */
#article-show {
  padding: 0;
  .card-header {

    padding: 6px 10px 6px 10px;
    color: white;
    background-color: #336666;

      #badge-name {
        font-size: 16px;
      }
      #article-title {
        margin: 0;
        font-size: 20px;
      }
      #date {
        font-size: 12px;
      }
      .tag {
        margin-right: 1%;
        font-size: 12px;
      }
  }
  .username-box {
    background-color: #DDDDDD;
  }
  .card-body {
    height: 65vh;
    overflow: scroll;
    background-color: #DDDDDD;
    font-size: 14px;
  }
  .card-footer {
    font-size: 0.4em;
    text-align: center;
    background-color: #808000;
    color: white;
  }
}

/* 記事投稿者オプション */
#author-option {
  font-size: 22px;
}

/* アカウント詳細 */
#user-show {
  .card-header {
    padding: 6px 10px 6px 10px;

    #name {
      font-size: 28px;
    }
    #date {
      font-size: 14px;
    }
  }
}

/* コメントフォーム */
.comments {
  #comment-form {
    margin: 2% 0 2% 0;
  }
  #comments-view {
    margin: 2% 0 2% 0;
    .card-header {
      padding: 6px 10px 6px 10px;
      #name {
        font-size: 14px;
      }
      #date {
        font-size: 10px;
      }
    }
    .card-body {
      padding: 6px 10px 6px 10px;
    }
  }
}
