@import "bootstrap";


/* generally layout */

.title-sentence {
  padding: 10px;
  color: yellow;
}

.main-back-color {
  z-index: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-back-img {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url(Back-main.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.3;
}




#main-layout {
  width: 100%;
  height: 100%;
  margin: 0px;
  position: relative;

  #login-alert {
    z-index: 5;
    width: 100%;
  }
}

.users {
  color: white;
}

/* Header */

#header-content {
  z-index: 5;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;

  .header-menu {
    background-color: #330033;
  }
}

/* HOME */
#columns {
  margin: 0px 10px 0px 10px;

  .card {
    margin: 0px 25px 50px 25px;
  }

  .card-header {
    height: 15%;
    font-size: 14px;
    color: white;
    background-color: #336666;
  }

  .card-title {
    font-size: 18px;
  }

  .card-body {
    height: 200px;
    background-color: #DDDDDD;
    font-size: 12px;
  }

  .article-more {
    margin: 0 0 0 auto;
    text-align: right;
    font-size: 12px;
    text-decoration-line: underline;
    color: #0000FF;
  }

  .card-footer {
    height: 40px;
    font-size: 0.4em;
    text-align: center;
    background-color: #808000;
    color: white;
  }
}

/* Sidebar */

.sidebar {
  z-index: 5;
  position: fixed;
  margin-top: 30px;
  margin-left: 0px;
  height: 80vh;
  width: 200px;
}

#sidebar-card {
  margin: 0px 0px 20px 0px;

  .card-header {
    height: 35px;
    font-size: 14px;
    background-color: #BBBBBB;
  }

  .card-body {
    height: 150px;
    background-color: #DDDDDD;
    font-size: 12px
  }
}

#owners-introduction {
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}


.footer {
  width: auto;
}
