/* 記事一覧ページ(index) */
#columns {
  padding: 0 5% 0 5%;
  .card {
    #modal-btn {
      outline: 0;
      #counts {
        background-color: #DDDDDD;
        font-size: 0.7em;
        text-align: end;
      }
    }
    #tag-footer {
      background-color: #98CB00;
    }
  }
  .card-header {
    color: white;
    background-color: #196500;
    overflow: hidden;
    text-overflow: ellipsis;
    #title {
      font-size: 13px;
    }
    #author {
      font-size: 10px;
    }
    #date {
      font-size: 8px;
    }
  }
  .card-title {
    font-size: 18px;
  }
  .card-body {
    height: 180px;
    background-color: #DDDDDD;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* 記事モーダル */
.article-modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        background-color: #336666;
        #author {
          font-size: 14px;
          color: white;
        }
        #date {
          font-size: 12px;
          color: white;
        }
      }
      #title {
        font-size: 18px;
        color: white;
      }
      .modal-body {
        font-size: 14px;
        min-height: 55vh;
      }
      .comments-list {
        #comment-card {
          #comment-part-body {
            background-color: white;
            .media-body {
              #user-page {
                font-size: 12px;
              }
              #date {
                font-size: 9px;
              }
              #comment-words {
                background-color: #E5E5E5;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

/* 記事詳細ページ(articles/show) */
#article-card {
  padding: 0;
  .card-header {
    padding: 6px 10px 6px 10px;
    color: white;
    background-color: #336666;
      #author {
        font-size: 14px;
        color: white;
      }
      #date {
        font-size: 12px;
        color: white;
      }
      #article-title {
        margin: 0;
        font-size: 20px;
      }
      .tag {
        margin-right: 1%;
        font-size: 12px;
      }
  }
  .username-box {
    background-color: #DDDDDD;
  }
  .card-body {
    min-height: 30vh;
    overflow: scroll;
    background-color: #DDDDDD;
    font-size: 14px;
  }
  .card-footer {
    font-size: 0.4em;
    text-align: center;
    background-color: #808000;
    color: white;
  }
}

/* 記事投稿者オプション */
#author-option {
  font-size: 22px;
}
