<header id="header-content">
  <div class="container-fruid">
    <nav class="navbar header-menu">
      <div>
        <a class="navbar-brand justify-content-start" href="/home">HOME</a>
        <a class="navbar-brand justify-content-start" href="/about">ABOUT</a>
        <a class="navbar-brand justify-content-start" href="/contact">CONTACT</a>
        <a class="navbar-brand justify-content-start" href="/users/sign_up">SIGNUP</a>
        <a class="navbar-brand justify-content-start" href="/users">USERS</a>
      </div>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
  </div>
</header>
