<div class="modal fade" id="readme-modal" tabindex="-1" role="dialog"
 aria-labelledby="READMEプレビュー" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header p-1 border-secondary">
          <button type="button" class="btn btn-secondary btn-block"
           data-dismiss="modal">閉じる</button>
        </div>
        <div class="modal-header">
          <h3>※ アプリのREADME.mdを表示しています。</h3>
          <a href="https://github.com/RiSEblackbird/BlogApp2019">
            <h2><i class="fab fa-github"></i></h2>
          </a>
        </div>
        <div class="modal-header github-grass d-flex justify-content-center">
          <a href="https://github.com/RiSEblackbird" target="_blank">
            <img class="grass-image" src="https://grass-graph.moshimo.works/images/RiSEblackbird.png?">
          </a>
        </div>
      <div class="modal-body p-2 px-3 overflow-auto">
        <%= markdown(p File.open("./README.md").read).html_safe %>
      </div>
      <div class="modal-footer border-top-0 p-2">
        <button type="button" class="p-1 btn btn-secondary btn-block"
         data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
