<button type="button" data-toggle="modal" data-backdrop="false"
 data-target="#readme-modal" class="p-1 col-auto navbar-brand
  btn btn-sm btn-warning align-self-center" id="readme-btn">
  アプリ概要(README.md)
</button>
<%= render 'layouts/readme_btn_modal' %>
