<div class="sidebar mx-auto">
  <div class="card" id="sidebar-card">
    <div class="card-header">掲載年月別</div>
    <div class="card-body">
      <p class="card-text">記事の内容をこ事の内容をこ記事の内容をこの欄に渡す。途中で表示を切る。</p>
      <span><%= icon('fa', 'heart', 'いいねする') %></span>
      <span class="btn btn-sm btn-warning"><%= icon('fa', 'heart', 'いいねする') %></span>
      <i class="fas fa-heart">aaa</i>
    </div>
  </div>
  <div class="card" id="sidebar-card">
    <div class="card-header">カテゴリ別</div>
    <div class="card-body">
      <p class="card-text">記事の内容をこの渡す。途中で表示を切容をこの欄に渡す。途中で表示を切る。</p>
    </div>
  </div>
  <div class="card" id="sidebar-card">
    <div class="card-header">キーワードタグ別</div>
    <div class="card-body">
      <p class="card-text">記事の内容をこの渡す。途中で表示を切容をこの欄に渡す。途中で表示を切る。</p>
    </div>
  </div>
</div>
